* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:min(16px,3vw);
}

img{
    display:block;
    width:50%;
}

body {
    border: 10px solid #1d1e4c;
    font-size: 18px;
    background-color: #e5e5fd;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display:block;
    width:90%;
    max-width: 900px;
    margin: 80px auto;
    text-align: justify;
}


.header {
    margin-bottom: 60px;
}

figure {
    display: flex;
    
    justify-content: space-between;
}

figure img {
    display: block;
    height: auto;
    border-radius: 50%;
}

figcaption {
    padding-inline:1em;
    align-self: flex-end;
    font-size: 2.5rem;
    color: hsl(240, 67%, 20%);
    font-weight: bolder;
    text-transform: uppercase;
}

.spacing {
    letter-spacing: 0.5rem;
}


.timeline {
    font-size: 1rem;
    text-align: right;
}

.intro-heading {
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 1.15rem;
    font-weight: 600;
}

.intro-para {
    word-spacing: 5px;
    font-size: 1.15rem;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 520;
    margin-bottom: 1.5rem;
}

.secondary-heading {
    margin-bottom: 10px;
}

.biography-list {
    padding: 0px 50px;
    line-height: 1.75;
    margin-bottom: 3.5rem;
}

footer {
    font-size: 1rem;
    text-align: right;
    font-weight: 500;
}


@media screen and (max-width:850px){
    figure{
        flex-direction: column;
        gap:3em;
        align-items: center;
    }

    *{
        line-height:normal  !important ;
        letter-spacing: normal !important ;
        word-spacing: normal !important ;
    }

    li{
        margin-bottom:1em;
    }
}

@media screen and (max-width:450px){
    .biography-list{
        padding:0.25em 0.5em;
        font-size:1rem;
    }

    .secondary-heading{
        font-size:clamp(2rem,1.75rem,1.5rem);
    }
}